/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  input, button {
    margin: 5px;
    padding: 8px;
  }
  
  