<h2>Register</h2>
<form [formGroup]="registerForm"> 
    <div class="form-group">
        <label for="username">Create Username</label>
        <input id="username" type="text" formControlName="username">
        <div class="error-message" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
            <span>invalid enter 6 valid char</span>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Create Password</label>
        <input id="password" type="password" formControlName="password">
        <div class="error-message" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
            <span>invalid enter 4 valid char</span>
        </div>
    </div>
    <button type="button" [disabled]="registerForm.invalid" (click)="submitReg()">Register</button>
    <span class="success-message" *ngIf="isSuccess">User Create✔️</span>
</form>
